/* COMUNES */
.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
	transition: all ease-in-out .3s;
}

/* IONICONS */
i { margin-right: 10px; }

/* TABLAS */
.table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active { background-color: #808285!important; font-weight: 400; color: #ffffff; }
.table-hover > tbody > tr:hover { background-color: #e6e6e6; }